.confirm-shipment-box{
	margin-top: 2%;
	margin-left: 0.1%;
	margin-right: 0.1%;

	.grey-box{
		padding: 3%;
		min-height: 250px;
		background-color: #ececec;
		border: 1px solid rgba(0,0,0,0.1);
		margin-top: 5%;
		margin-right: 5%;
	}
	.red-msg{
		color: red;
		float: right;
		position: absolute;
		top: 8px;
		right: 5%;
	}
	.help-link{
		float: right;
		position: relative;

		left: -5%;
		color: red;
		i{position: relative;top: 5px;}
	}
	input[type="select"]{
		width: 100%;
	}

}

.payment-box{

	.help-link{
		float: right;
		position: relative;

		left: -5%;
		color: red;
		i{position: relative;top: 5px;}
	}
	select{
		width: 100%;
		padding-top: 2%;
		padding-bottom: 2%;

	}
}

.policy-box{
	padding: 3%;
	padding-bottom: 0%;
	input{
		margin-right: 1%;
		position: relative;
		top: 2px;
	}
	a{
		color: red;
		text-decoration: underline;
		margin-left: 1%;
	}
	i{
		position: relative;
		top: 5px;
	}
}