.receipt-card{
	margin-left: 3%;
	margin-right: 1%;
	margin-top: 3%;
	padding: 0px;
	min-height: 180px;
	border-bottom: 7px solid #000;
	.receipt-header{
		height: 64px;
		color: #ffd10a;
		background-color: #000;
		margin: 0% 0% 3% 0%;
		width: 100%;
		.width-70{
			width: 70%;
		}
		.receipt-logo{
			border-right: 1px dashed #ffd10a;
			width: 30%;
			img{
				width: 74%;
			}
		}
		.booking-number{
			float: right;
			height: 64px;
			line-height: 64px;
			color: #a1a1a1;
			span{
				font-weight: bold;
				color: #fff;
			}
		}
		h4{
		    height: 44px;
		    width: 70%;
		    float: left;
		    line-height: 44px;
		    span{
		    	font-weight: bold;
		    }
		}
	}
	.receipt-content{
		margin: 0% 0% 1% 0%;
		.payment-details{
			background-color: #ffd10a;
			height: 286px;
			width: 30%;
			.account-details{
				border-bottom: 1px solid #777;
			    margin-left: 0%;
			    width: 100%;
				.account-icon{
					padding: 4% 7% 0% 0%;
				}
				.account-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			}
			.amount-details{
				border-bottom: 1px solid #777;
			    margin-left: 0%;
			    width: 100%;
				.amount-icon{
					padding: 4% 7% 0% 0%;
				}
				.amount-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			}
			.reference-details{
			    margin-left: 0%;
			    width: 100%;
				.reference-icon{
					padding: 4% 7% 0% 0%;
				}
				.reference-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			}
			.date-details{
				border-bottom: 1px solid #777;
			    margin-left: 0%;
			    width: 100%;
				.date-icon{
					padding: 4% 7% 0% 0%;
				}
				.date-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			} 

		}
		.shipper{
			border: 1px solid #ffd10a;
		    margin-left: 1%;
		    padding: 0px;
		    min-height: 286px;
		    width: 34.5%;
		    font-weight: bold;
			.shipper-header{
				font-size: 15px;
			    padding: 0% 5%;
			    height: 36px;
			    line-height: 36px;
			    background-color: #ffd10a;
			}
			.shipper-details{
				.shipper-name{
					padding: 5% 0% 2% 5%;
					font-weight: bold; 
					font-style: 13%;
				}
				.shipper-address{
					padding: 5% 0% 0% 5%;
					font-style: 13%;
					border-bottom: 1px solid #ffd10a;
				}
			}
			.booked-details{
					font-style: 13%;
					padding: 5% 0% 2% 5%;
				}
		}

		.consignee{
			border: 1px solid #ffd10a;
		    margin-left: 0%;
		    padding: 0px;
		    min-height: 286px;
		    width: 34.5%;
		    font-weight: bold;
			.consignee-header{
				font-size: 15px;
			    padding: 0% 5%;
			    height: 36px;
			    line-height: 36px;
			    border-left: 1px solid #000;
			    background-color: #ffd10a;
			}
			.consignee-details{
				.consignee-name{
					padding: 5% 0% 0% 5%;
					font-weight: bold; 
				}
				.consignee-address{
					padding: 5% 0% 2% 5%;
					font-weight: bold;
					border-bottom: 1px solid #ffd10a;
				}
			}
			.booked-details{
					font-weight: bold;
					padding: 5% 0% 2% 5%;
				}
		}
	}
}
.transport-receipt-card{
	margin-left: 3%;
	margin-right: 1%;
	margin-top: 3%;
	padding: 0px;
	min-height: 180px;
	border-bottom: 7px solid #000;
	.transport-receipt-header{
		height: 64px;
		color: #ffd10a;
		background-color: #000;
		margin: 0% 0% 3% 0%;
		width: 100%;
		.width-70{
			width: 70%;
		}
		.transport-receipt-logo{
			border-right: 1px dashed #ffd10a;
			width: 30%;
			img{
				width: 74%;
			}
		}
		.transport-booking-number{
			float: right;
			height: 64px;
			line-height: 64px;
			color: #a1a1a1;
			span{
				font-weight: bold;
				color: #fff;
			}
		}
		h4{
		    height: 44px;
		    width: 70%;
		    float: left;
		    line-height: 44px;
		    span{
		    	font-weight: bold;
		    }
		}
	}
	.transport-receipt-content{
		margin: 0% 0% 1% 0%;
		.transport-payment-details{
			background-color: #ffd10a;
			height: 210px;
			width: 30%;
			.transport-account-details{
				border-bottom: 1px solid #777;
			    margin-left: 0%;
			    width: 100%;
				.transport-account-icon{
					padding: 4% 7% 0% 0%;
				}
				.transport-account-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			}
			.transport-amount-details{
				border-bottom: 1px solid #777;
			    margin-left: 0%;
			    width: 100%;
				.transport-amount-icon{
					padding: 4% 7% 0% 0%;
				}
				.transport-amount-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			}
			.transport-date-details{
			    margin-left: 0%;
			    width: 100%;
				.transport-date-icon{
					padding: 4% 7% 0% 0%;
				}
				.transport-date-number{
					padding: 5% 0% 2% 5%;
					h6{
						font-weight: bold;
						font-size: 14px;
						i{
							font-size : 16px;
						}
					}
				}
			} 

		}
		.transport-shipper{
			border: 1px solid #ffd10a;
		    margin-left: 1%;
		    padding: 0px;
		    min-height: 210px;
		    width: 34.5%;
		    font-weight: bold;
			.transport-shipper-header{
				font-size: 15px;
			    text-align: center;
			    height: 36px;
			    line-height: 36px;
			    border-bottom: 1px solid #ffd10a;
			}
			.transport-shipper-details{
				span{
					font-weight: normal;
				}
				.transport-shipper-pickup-location{
					padding: 5% 0% 2% 5%;
					font-weight: bold; 
					font-style: 13%;
				}
				.transport-shipper-delivery-location{
					padding: 5% 0% 0% 5%;
					font-style: 13%;
				}
				.transport-shipper-date-time{
					padding: 5% 0% 0% 5%;
					font-style: 13%;
				}
			}
		}

		.transport-consignee{
			border: 1px solid #ffd10a;
		    margin-left: 0%;
		    padding: 0px;
		    font-weight: bold;
		    min-height: 210px;
		    width: 34.5%;
			.transport-consignee-header{
				font-size: 15px;
			    text-align: center;
			    height: 36px;
			    line-height: 36px;
				    border-bottom: 1px solid #ffd10a;
			}
			.transport-consignee-details{
				span{
					font-weight: normal;
				}
				.transport-consignee-pickup-location{
					padding: 5% 0% 2% 5%;
					font-weight: bold; 
					font-style: 13%;
				}
				.transport-consignee-delivery-location{
					padding: 5% 0% 0% 5%;
					font-weight: bold;
					font-style: 13%;
				}
				.transport-consignee-date-time{
					padding: 5% 0% 0% 5%;
					font-weight: bold;
					font-style: 13%;
				}
			}
		}
	}
}