.current-date {
  float: right;
  position: relative;
  top: 25%;
  margin-right: 2%; }

.current-time {
  float: right;
  position: relative;
  top: 25%; }

.mail-room-booking, .courier-booking, .transport-booking {
  width: 27%;
  margin: 2.5% 1.5%;
  min-height: 400px;
  color: #fff; }

.margin-set-2 {
  margin-left: 2%;
  width: 98%; }

.mail-room-booking .title-link {
  background-image: url("./../../assets/img/mailroom.png");
  background-color: #f99009; }

.courier-booking .title-link {
  background-image: url("./../../assets/img/courier-booking.png");
  background-color: #ffc807; }

.transport-booking .title-link {
  background-image: url("./../../assets/img/transport.png");
  background-color: #f77016; }

.mail-room-booking .title-link, .courier-booking .title-link, .transport-booking .title-link {
  background-repeat: no-repeat;
  background-position: 7%;
  background-size: 60px;
  text-align: center;
  min-height: 100px; }
  .mail-room-booking .title-link .title-content, .courier-booking .title-link .title-content, .transport-booking .title-link .title-content {
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 33%; }

.mail-room-booking .title-link:hover, .courier-booking .title-link:hover, .transport-booking .title-link:hover {
  cursor: pointer; }

.mail-room-booking .process-steps h4 {
  background-color: #f99009; }

.courier-booking .process-steps h4 {
  background-color: #ffc807; }

.transport-booking .process-steps h4 {
  background-color: #f77016; }

.process-steps {
  min-height: 250px;
  margin-top: 12%;
  font-size: 16px;
  background-color: #f3f3f3;
  border: 1px solid #eee;
  padding: 0; }
  .process-steps h4 {
    height: 5%;
    margin: 0;
    font-size: 16px;
    padding: 3% 10%; }
  .process-steps p {
    color: #2f2f2f;
    font-weight: bold;
    position: relative;
    margin: 5% 10%;
    font-size: 15px;
    height: 50px;
    line-height: 50px; }
  .process-steps .steps .doted-border {
    padding: 4.5% 2%;
    border-radius: 50px;
    margin-right: 7%;
    font-size: 20px;
    border: 1px dashed #fc9f0b; }
    .process-steps .steps .doted-border .step-number {
      font-size: 20px;
      padding: 3% 6%;
      background-color: #fc9f0b;
      border-radius: 50px; }

.courier-booking-modal {
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  height: 100vh;
  position: absolute;
  z-index: 9999999;
  background-color: rgba(0, 0, 0, 0.4); }
  .courier-booking-modal .modal-box {
    position: absolute;
    left: 26%;
    top: 30%;
    height: 40%;
    width: 48%;
    border: 1px solid #000;
    background-color: #fcfcfc; }
    .courier-booking-modal .modal-box .close-modal {
      position: absolute;
      right: 2%;
      top: 4%;
      color: #000;
      font-size: 26px; }
    .courier-booking-modal .modal-box .close-modal:hover {
      cursor: pointer; }
    .courier-booking-modal .modal-box .courier-icon {
      display: block;
      margin-left: 44%;
      margin-top: 2%; }
    .courier-booking-modal .modal-box h3 {
      font-weight: bold; }
    .courier-booking-modal .modal-box button {
      width: 40%;
      height: 32%;
      font-weight: bold;
      margin: 2% 0% 0% 7%;
      border: 1px solid #fff;
      color: #000;
      background-color: #ffc807; }
      .courier-booking-modal .modal-box button img {
        /*width: 54px;*/
        margin-right: 8%; }

/*# sourceMappingURL=booking.css.map */
