.receipt-card {
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 3%;
  padding: 0px;
  min-height: 180px;
  border-bottom: 7px solid #000; }
  .receipt-card .receipt-header {
    height: 64px;
    color: #ffd10a;
    background-color: #000;
    margin: 0% 0% 3% 0%;
    width: 100%; }
    .receipt-card .receipt-header .width-70 {
      width: 70%; }
    .receipt-card .receipt-header .receipt-logo {
      border-right: 1px dashed #ffd10a;
      width: 30%; }
      .receipt-card .receipt-header .receipt-logo img {
        width: 74%; }
    .receipt-card .receipt-header .booking-number {
      float: right;
      height: 64px;
      line-height: 64px;
      color: #a1a1a1; }
      .receipt-card .receipt-header .booking-number span {
        font-weight: bold;
        color: #fff; }
    .receipt-card .receipt-header h4 {
      height: 44px;
      width: 70%;
      float: left;
      line-height: 44px; }
      .receipt-card .receipt-header h4 span {
        font-weight: bold; }
  .receipt-card .receipt-content {
    margin: 0% 0% 1% 0%; }
    .receipt-card .receipt-content .payment-details {
      background-color: #ffd10a;
      height: 286px;
      width: 30%; }
      .receipt-card .receipt-content .payment-details .account-details {
        border-bottom: 1px solid #777;
        margin-left: 0%;
        width: 100%; }
        .receipt-card .receipt-content .payment-details .account-details .account-icon {
          padding: 4% 7% 0% 0%; }
        .receipt-card .receipt-content .payment-details .account-details .account-number {
          padding: 5% 0% 2% 5%; }
          .receipt-card .receipt-content .payment-details .account-details .account-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .receipt-card .receipt-content .payment-details .account-details .account-number h6 i {
              font-size: 16px; }
      .receipt-card .receipt-content .payment-details .amount-details {
        border-bottom: 1px solid #777;
        margin-left: 0%;
        width: 100%; }
        .receipt-card .receipt-content .payment-details .amount-details .amount-icon {
          padding: 4% 7% 0% 0%; }
        .receipt-card .receipt-content .payment-details .amount-details .amount-number {
          padding: 5% 0% 2% 5%; }
          .receipt-card .receipt-content .payment-details .amount-details .amount-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .receipt-card .receipt-content .payment-details .amount-details .amount-number h6 i {
              font-size: 16px; }
      .receipt-card .receipt-content .payment-details .reference-details {
        margin-left: 0%;
        width: 100%; }
        .receipt-card .receipt-content .payment-details .reference-details .reference-icon {
          padding: 4% 7% 0% 0%; }
        .receipt-card .receipt-content .payment-details .reference-details .reference-number {
          padding: 5% 0% 2% 5%; }
          .receipt-card .receipt-content .payment-details .reference-details .reference-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .receipt-card .receipt-content .payment-details .reference-details .reference-number h6 i {
              font-size: 16px; }
      .receipt-card .receipt-content .payment-details .date-details {
        border-bottom: 1px solid #777;
        margin-left: 0%;
        width: 100%; }
        .receipt-card .receipt-content .payment-details .date-details .date-icon {
          padding: 4% 7% 0% 0%; }
        .receipt-card .receipt-content .payment-details .date-details .date-number {
          padding: 5% 0% 2% 5%; }
          .receipt-card .receipt-content .payment-details .date-details .date-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .receipt-card .receipt-content .payment-details .date-details .date-number h6 i {
              font-size: 16px; }
    .receipt-card .receipt-content .shipper {
      border: 1px solid #ffd10a;
      margin-left: 1%;
      padding: 0px;
      min-height: 286px;
      width: 34.5%;
      font-weight: bold; }
      .receipt-card .receipt-content .shipper .shipper-header {
        font-size: 15px;
        padding: 0% 5%;
        height: 36px;
        line-height: 36px;
        background-color: #ffd10a; }
      .receipt-card .receipt-content .shipper .shipper-details .shipper-name {
        padding: 5% 0% 2% 5%;
        font-weight: bold;
        font-style: 13%; }
      .receipt-card .receipt-content .shipper .shipper-details .shipper-address {
        padding: 5% 0% 0% 5%;
        font-style: 13%;
        border-bottom: 1px solid #ffd10a; }
      .receipt-card .receipt-content .shipper .booked-details {
        font-style: 13%;
        padding: 5% 0% 2% 5%; }
    .receipt-card .receipt-content .consignee {
      border: 1px solid #ffd10a;
      margin-left: 0%;
      padding: 0px;
      min-height: 286px;
      width: 34.5%;
      font-weight: bold; }
      .receipt-card .receipt-content .consignee .consignee-header {
        font-size: 15px;
        padding: 0% 5%;
        height: 36px;
        line-height: 36px;
        border-left: 1px solid #000;
        background-color: #ffd10a; }
      .receipt-card .receipt-content .consignee .consignee-details .consignee-name {
        padding: 5% 0% 0% 5%;
        font-weight: bold; }
      .receipt-card .receipt-content .consignee .consignee-details .consignee-address {
        padding: 5% 0% 2% 5%;
        font-weight: bold;
        border-bottom: 1px solid #ffd10a; }
      .receipt-card .receipt-content .consignee .booked-details {
        font-weight: bold;
        padding: 5% 0% 2% 5%; }

.transport-receipt-card {
  margin-left: 3%;
  margin-right: 1%;
  margin-top: 3%;
  padding: 0px;
  min-height: 180px;
  border-bottom: 7px solid #000; }
  .transport-receipt-card .transport-receipt-header {
    height: 64px;
    color: #ffd10a;
    background-color: #000;
    margin: 0% 0% 3% 0%;
    width: 100%; }
    .transport-receipt-card .transport-receipt-header .width-70 {
      width: 70%; }
    .transport-receipt-card .transport-receipt-header .transport-receipt-logo {
      border-right: 1px dashed #ffd10a;
      width: 30%; }
      .transport-receipt-card .transport-receipt-header .transport-receipt-logo img {
        width: 74%; }
    .transport-receipt-card .transport-receipt-header .transport-booking-number {
      float: right;
      height: 64px;
      line-height: 64px;
      color: #a1a1a1; }
      .transport-receipt-card .transport-receipt-header .transport-booking-number span {
        font-weight: bold;
        color: #fff; }
    .transport-receipt-card .transport-receipt-header h4 {
      height: 44px;
      width: 70%;
      float: left;
      line-height: 44px; }
      .transport-receipt-card .transport-receipt-header h4 span {
        font-weight: bold; }
  .transport-receipt-card .transport-receipt-content {
    margin: 0% 0% 1% 0%; }
    .transport-receipt-card .transport-receipt-content .transport-payment-details {
      background-color: #ffd10a;
      height: 210px;
      width: 30%; }
      .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-account-details {
        border-bottom: 1px solid #777;
        margin-left: 0%;
        width: 100%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-account-details .transport-account-icon {
          padding: 4% 7% 0% 0%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-account-details .transport-account-number {
          padding: 5% 0% 2% 5%; }
          .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-account-details .transport-account-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-account-details .transport-account-number h6 i {
              font-size: 16px; }
      .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-amount-details {
        border-bottom: 1px solid #777;
        margin-left: 0%;
        width: 100%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-amount-details .transport-amount-icon {
          padding: 4% 7% 0% 0%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-amount-details .transport-amount-number {
          padding: 5% 0% 2% 5%; }
          .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-amount-details .transport-amount-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-amount-details .transport-amount-number h6 i {
              font-size: 16px; }
      .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-date-details {
        margin-left: 0%;
        width: 100%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-date-details .transport-date-icon {
          padding: 4% 7% 0% 0%; }
        .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-date-details .transport-date-number {
          padding: 5% 0% 2% 5%; }
          .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-date-details .transport-date-number h6 {
            font-weight: bold;
            font-size: 14px; }
            .transport-receipt-card .transport-receipt-content .transport-payment-details .transport-date-details .transport-date-number h6 i {
              font-size: 16px; }
    .transport-receipt-card .transport-receipt-content .transport-shipper {
      border: 1px solid #ffd10a;
      margin-left: 1%;
      padding: 0px;
      min-height: 210px;
      width: 34.5%;
      font-weight: bold; }
      .transport-receipt-card .transport-receipt-content .transport-shipper .transport-shipper-header {
        font-size: 15px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        border-bottom: 1px solid #ffd10a; }
      .transport-receipt-card .transport-receipt-content .transport-shipper .transport-shipper-details span {
        font-weight: normal; }
      .transport-receipt-card .transport-receipt-content .transport-shipper .transport-shipper-details .transport-shipper-pickup-location {
        padding: 5% 0% 2% 5%;
        font-weight: bold;
        font-style: 13%; }
      .transport-receipt-card .transport-receipt-content .transport-shipper .transport-shipper-details .transport-shipper-delivery-location {
        padding: 5% 0% 0% 5%;
        font-style: 13%; }
      .transport-receipt-card .transport-receipt-content .transport-shipper .transport-shipper-details .transport-shipper-date-time {
        padding: 5% 0% 0% 5%;
        font-style: 13%; }
    .transport-receipt-card .transport-receipt-content .transport-consignee {
      border: 1px solid #ffd10a;
      margin-left: 0%;
      padding: 0px;
      font-weight: bold;
      min-height: 210px;
      width: 34.5%; }
      .transport-receipt-card .transport-receipt-content .transport-consignee .transport-consignee-header {
        font-size: 15px;
        text-align: center;
        height: 36px;
        line-height: 36px;
        border-bottom: 1px solid #ffd10a; }
      .transport-receipt-card .transport-receipt-content .transport-consignee .transport-consignee-details span {
        font-weight: normal; }
      .transport-receipt-card .transport-receipt-content .transport-consignee .transport-consignee-details .transport-consignee-pickup-location {
        padding: 5% 0% 2% 5%;
        font-weight: bold;
        font-style: 13%; }
      .transport-receipt-card .transport-receipt-content .transport-consignee .transport-consignee-details .transport-consignee-delivery-location {
        padding: 5% 0% 0% 5%;
        font-weight: bold;
        font-style: 13%; }
      .transport-receipt-card .transport-receipt-content .transport-consignee .transport-consignee-details .transport-consignee-date-time {
        padding: 5% 0% 0% 5%;
        font-weight: bold;
        font-style: 13%; }

/*# sourceMappingURL=receipts.css.map */
